In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [2]:
data = pd.read_csv('molinetes_ene_dic_2016.csv',
                      sep = ';',
                      usecols = [1,2,4,6,10],
                      parse_dates = [0],
                      dayfirst = True,
                     )
data.head()

       FECHA     DESDE    LINEA        ESTACION  TOTAL
0 2016-01-02  05:00:00  LINEA_A        CARABOBO      1
1 2016-01-02  05:00:00  LINEA_A            LIMA      1
2 2016-01-02  05:00:00  LINEA_A  RIO DE JANEIRO      1
3 2016-01-02  05:00:00  LINEA_A     SAN PEDRITO      0
4 2016-01-02  05:00:00  LINEA_A     SAN PEDRITO      1

In [5]:
dataOrig = data.copy()

In [6]:
#sumar cada estacion cada dia cada hora
data = data.groupby(by=['FECHA','DESDE','LINEA','ESTACION']).sum()
data.reset_index(inplace=True)
data.head()

       FECHA     DESDE    LINEA             ESTACION  TOTAL
0 2016-01-01  05:00:00  LINEA_H              CASEROS      0
1 2016-01-01  05:30:00  LINEA_D  CONGRESO DE TUCUMAN      0
2 2016-01-01  05:45:00  LINEA_A          SAN PEDRITO      0
3 2016-01-01  06:15:00  LINEA_C       MARIANO MORENO      1
4 2016-01-01  06:30:00  LINEA_A               ACOYTE      0

In [7]:
# seleccionar dias habiles
data['day']=data.FECHA.map(lambda x: x.weekday())
data = data.loc[data.day<5,:]

In [8]:
#sacar promedio por periodo de 15 por estacion
dataFinal = data.loc[:,['DESDE','LINEA','ESTACION','TOTAL']].groupby(by=['LINEA','ESTACION','DESDE']).mean()
dataFinal.reset_index(inplace=True)
dataFinal = dataFinal.loc[dataFinal.LINEA!=u'TALLER/PRUEBAS',:]

dataFinal.head()

     LINEA ESTACION     DESDE      TOTAL
0  LINEA_A   ACOYTE  05:00:00   9.394309
1  LINEA_A   ACOYTE  05:15:00  14.713115
2  LINEA_A   ACOYTE  05:30:00  17.819672
3  LINEA_A   ACOYTE  05:45:00  20.183673
4  LINEA_A   ACOYTE  06:00:00  37.963115

In [9]:
dataFinal.to_csv('dataFinal.csv',index=False)

In [10]:
#mergear ubicacion con estaciones

In [11]:
trips = pd.read_csv('dataFinal.csv',encoding='utf-8')
trips.head()

     LINEA ESTACION     DESDE      TOTAL
0  LINEA_A   ACOYTE  05:00:00   9.394309
1  LINEA_A   ACOYTE  05:15:00  14.713115
2  LINEA_A   ACOYTE  05:30:00  17.819672
3  LINEA_A   ACOYTE  05:45:00  20.183673
4  LINEA_A   ACOYTE  06:00:00  37.963115

In [12]:
estaciones = pd.read_csv('estaciones-de-subte.csv',sep=';',encoding='utf-8',usecols=[0,1,3,4])
estaciones.LINEA = estaciones.LINEA.map(lambda x: 'LINEA_'+x)
estaciones.head()

           X          Y                ESTACION    LINEA
0 -58.398928 -34.635750                 CASEROS  LINEA_H
1 -58.400970 -34.629376                  INCLAN  LINEA_H
2 -58.402323 -34.623092             HUMBERTO 1°  LINEA_H
3 -58.404732 -34.615242               VENEZUELA  LINEA_H
4 -58.406036 -34.608935  ONCE - 30 DE DICIEMBRE  LINEA_H

In [13]:
estaciones.ESTACION.replace(to_replace=u'HUMBERTO 1°',value=u'HUMBERTO I',inplace=True)
estaciones.ESTACION.replace(to_replace=u'ONCE - 30 DE DICIEMBRE',value=u'ONCE',inplace=True)
estaciones.ESTACION.replace(to_replace=u'TRIBUNALES - TEATRO COLON',value=u'TRIBUNALES',inplace=True)
estaciones.ESTACION.replace(to_replace=u'R.SCALABRINI ORTIZ',value=u'SCALABRINI ORTIZ',inplace=True)
estaciones.ESTACION.replace(to_replace=u'AV. DE MAYO',value=u'AVENIDA DE MAYO',inplace=True)
estaciones.ESTACION.replace(to_replace=u'MORENO',value=u'MARIANO MORENO',inplace=True)

estaciones.ESTACION.replace(to_replace=u'C. PELLEGRINI',value=u'CARLOS PELLEGRINI',inplace=True)
estaciones.ESTACION.replace(to_replace=u'PASTEUR - AMIA',value=u'PASTEUR',inplace=True)
estaciones.ESTACION.replace(to_replace=u'MALABIA - OSVALDO PUGLIESE',value=u'MALABIA',inplace=True)
estaciones.ESTACION.replace(to_replace=u'PLAZA DE MISERERE',value=u'PLAZA MISERERE',inplace=True)
estaciones.ESTACION.replace(to_replace=u'BELGRANO',value=u'GENERAL BELGRANO',inplace=True)
estaciones.ESTACION.replace(to_replace=u'ENTRE RIOS - RODOLFO WALSH',value=u'ENTRE RIOS',inplace=True)
estaciones.ESTACION.replace(to_replace=u'SAN MARTIN',value=u'GENERAL SAN MARTIN',inplace=True)
estaciones.ESTACION.replace(to_replace=u'AV. LA PLATA',value=u'AVENIDA LA PLATA',inplace=True)
estaciones.ESTACION.replace(to_replace=u'PLAZA DE LOS VIRREYES - EVA PERON',value=u'PZA. DE LOS VIRREYES',inplace=True)
estaciones.ESTACION.replace(to_replace=u'TRONADOR - VILLA ORTUZAR',value=u'TRONADOR',inplace=True)
estaciones.ESTACION.replace(to_replace=u'DE LOS INCAS -PQUE. CHAS',value=u'LOS INCAS',inplace=True)
estaciones.ESTACION.replace(to_replace=u'PARQUE PATRICIOS',value=u'PATRICIOS',inplace=True)
estaciones.ESTACION.replace(to_replace=u'JUAN MANUEL DE ROSAS - VILLA URQUIZA',value=u'ROSAS',inplace=True)
estaciones.ESTACION.replace(to_replace=u'SAN JOSE DE FLORES',value=u'FLORES',inplace=True)
estaciones.ESTACION.replace(to_replace=u'SANTA FE - CARLOS JAUREGUI',value=u'SANTA FE',inplace=True)

In [14]:
#estaciones que no estan en trips
noEstan = ~(estaciones.ESTACION.isin(trips.ESTACION.unique()))
estaciones.ESTACION[noEstan]

Series([], Name: ESTACION, dtype: object)

In [15]:
noEstan = ~(pd.Series(trips.ESTACION.unique()).isin(estaciones.ESTACION))
pd.Series(trips.ESTACION.unique())[noEstan]

19           CALLAO.B
57       PUEYRREDON.D
66    INDEPENDENCIA.H
dtype: object

In [16]:
trips.ESTACION.replace(to_replace=u'CALLAO.B',value=u'CALLAO',inplace=True)
trips.ESTACION.replace(to_replace=u'INDEPENDENCIA.H',value=u'INDEPENDENCIA',inplace=True)
trips.ESTACION.replace(to_replace=u'PUEYRREDON.D',value=u'PUEYRREDON',inplace=True)

In [17]:
noEstan = ~(pd.Series(trips.ESTACION.unique()).isin(estaciones.ESTACION))
pd.Series(trips.ESTACION.unique())[noEstan]

Series([], dtype: object)

In [18]:
estaciones.head()

           X          Y    ESTACION    LINEA
0 -58.398928 -34.635750     CASEROS  LINEA_H
1 -58.400970 -34.629376      INCLAN  LINEA_H
2 -58.402323 -34.623092  HUMBERTO I  LINEA_H
3 -58.404732 -34.615242   VENEZUELA  LINEA_H
4 -58.406036 -34.608935        ONCE  LINEA_H

In [19]:
trips.head()

     LINEA ESTACION     DESDE      TOTAL
0  LINEA_A   ACOYTE  05:00:00   9.394309
1  LINEA_A   ACOYTE  05:15:00  14.713115
2  LINEA_A   ACOYTE  05:30:00  17.819672
3  LINEA_A   ACOYTE  05:45:00  20.183673
4  LINEA_A   ACOYTE  06:00:00  37.963115

In [20]:
carto = pd.merge(trips,estaciones,how='left',on=['LINEA','ESTACION'])
carto.head()

     LINEA ESTACION     DESDE      TOTAL          X         Y
0  LINEA_A   ACOYTE  05:00:00   9.394309 -58.436429 -34.61828
1  LINEA_A   ACOYTE  05:15:00  14.713115 -58.436429 -34.61828
2  LINEA_A   ACOYTE  05:30:00  17.819672 -58.436429 -34.61828
3  LINEA_A   ACOYTE  05:45:00  20.183673 -58.436429 -34.61828
4  LINEA_A   ACOYTE  06:00:00  37.963115 -58.436429 -34.61828

In [21]:
carto.sort_values(by=['TOTAL'],ascending=False).head()

        LINEA      ESTACION     DESDE        TOTAL          X          Y
2640  LINEA_C  CONSTITUCION  08:15:00  3251.277778 -58.381434 -34.627619
2642  LINEA_C  CONSTITUCION  08:45:00  3077.664032 -58.381434 -34.627619
2641  LINEA_C  CONSTITUCION  08:30:00  3041.292490 -58.381434 -34.627619
2637  LINEA_C  CONSTITUCION  07:30:00  2771.372385 -58.381434 -34.627619
2644  LINEA_C  CONSTITUCION  09:15:00  2748.114173 -58.381434 -34.627619

In [22]:
carto.to_csv('carto.csv',encoding='utf-8',index=False)

In [23]:
#crear date para la hora
carto2 = pd.read_csv('carto.csv',
                  parse_dates = [2])
carto2.head()

     LINEA ESTACION               DESDE      TOTAL          X         Y
0  LINEA_A   ACOYTE 2017-05-23 05:00:00   9.394309 -58.436429 -34.61828
1  LINEA_A   ACOYTE 2017-05-23 05:15:00  14.713115 -58.436429 -34.61828
2  LINEA_A   ACOYTE 2017-05-23 05:30:00  17.819672 -58.436429 -34.61828
3  LINEA_A   ACOYTE 2017-05-23 05:45:00  20.183673 -58.436429 -34.61828
4  LINEA_A   ACOYTE 2017-05-23 06:00:00  37.963115 -58.436429 -34.61828

In [24]:
carto2.to_csv('carto2.csv',index=False,encoding='utf-8')