In [1]:
import pandas as pd
import numpy as np

In [2]:
trips = pd.read_csv('dataFinal.csv',encoding='utf-8')
trips.head()

     ESTACION     DESDE     TOTAL
0  9 DE JULIO  05:00:00  1.637500
1  9 DE JULIO  05:15:00  1.813268
2  9 DE JULIO  05:30:00  2.500000
3  9 DE JULIO  05:45:00  2.670807
4  9 DE JULIO  06:00:00  4.107602

In [58]:
estaciones = pd.read_csv('estaciones-de-subte.csv',sep=';',encoding='utf-8',usecols=[0,1,3,4])
estaciones.LINEA = estaciones.LINEA.map(lambda x: 'LINEA_'+x)
estaciones.head()

           X          Y                ESTACION    LINEA
0 -58.398928 -34.635750                 CASEROS  LINEA_H
1 -58.400970 -34.629376                  INCLAN  LINEA_H
2 -58.402323 -34.623092             HUMBERTO 1°  LINEA_H
3 -58.404732 -34.615242               VENEZUELA  LINEA_H
4 -58.406036 -34.608935  ONCE - 30 DE DICIEMBRE  LINEA_H

In [59]:
estaciones.ESTACION.replace(to_replace=u'HUMBERTO 1°',value=u'HUMBERTO I',inplace=True)
estaciones.ESTACION.replace(to_replace=u'ONCE - 30 DE DICIEMBRE',value=u'ONCE',inplace=True)
estaciones.ESTACION.replace(to_replace=u'TRIBUNALES - TEATRO COLON',value=u'TRIBUNALES',inplace=True)
estaciones.ESTACION.replace(to_replace=u'R.SCALABRINI ORTIZ',value=u'SCALABRINI ORTIZ',inplace=True)
estaciones.ESTACION.replace(to_replace=u'AV. DE MAYO',value=u'AVENIDA DE MAYO',inplace=True)
estaciones.ESTACION.replace(to_replace=u'MORENO',value=u'MARIANO MORENO',inplace=True)

estaciones.ESTACION.replace(to_replace=u'C. PELLEGRINI',value=u'CARLOS PELLEGRINI',inplace=True)
estaciones.ESTACION.replace(to_replace=u'PASTEUR - AMIA',value=u'PASTEUR',inplace=True)
estaciones.ESTACION.replace(to_replace=u'MALABIA - OSVALDO PUGLIESE',value=u'MALABIA',inplace=True)
estaciones.ESTACION.replace(to_replace=u'PLAZA DE MISERERE',value=u'PLAZA MISERERE',inplace=True)
estaciones.ESTACION.replace(to_replace=u'BELGRANO',value=u'GENERAL BELGRANO',inplace=True)
estaciones.ESTACION.replace(to_replace=u'ENTRE RIOS - RODOLFO WALSH',value=u'ENTRE RIOS',inplace=True)
estaciones.ESTACION.replace(to_replace=u'SAN MARTIN',value=u'GENERAL SAN MARTIN',inplace=True)
estaciones.ESTACION.replace(to_replace=u'AV. LA PLATA',value=u'AVENIDA LA PLATA',inplace=True)
estaciones.ESTACION.replace(to_replace=u'PLAZA DE LOS VIRREYES - EVA PERON',value=u'PZA. DE LOS VIRREYES',inplace=True)
estaciones.ESTACION.replace(to_replace=u'TRONADOR - VILLA ORTUZAR',value=u'TRONADOR',inplace=True)
estaciones.ESTACION.replace(to_replace=u'DE LOS INCAS -PQUE. CHAS',value=u'LOS INCAS',inplace=True)
estaciones.ESTACION.replace(to_replace=u'PARQUE PATRICIOS',value=u'PATRICIOS',inplace=True)
estaciones.ESTACION.replace(to_replace=u'JUAN MANUEL DE ROSAS - VILLA URQUIZA',value=u'ROSAS',inplace=True)
estaciones.ESTACION.replace(to_replace=u'SAN JOSE DE FLORES',value=u'FLORES',inplace=True)
estaciones.ESTACION.replace(to_replace=u'SANTA FE - CARLOS JAUREGUI',value=u'SANTA FE',inplace=True)

In [60]:
#estaciones que no estan en trips
noEstan = ~(estaciones.ESTACION.isin(trips.ESTACION.unique()))
estaciones.ESTACION[noEstan]

Series([], Name: ESTACION, dtype: object)

In [61]:
noEstan = ~(pd.Series(trips.ESTACION.unique()).isin(estaciones.ESTACION))
pd.Series(trips.ESTACION.unique())[noEstan]

77    TALLER BONIFACIO
dtype: object

In [62]:
trips.ESTACION.replace(to_replace=u'CALLAO.B',value=u'CALLAO',inplace=True)
trips.ESTACION.replace(to_replace=u'INDEPENDENCIA.H',value=u'INDEPENDENCIA',inplace=True)
trips.ESTACION.replace(to_replace=u'PUEYRREDON.D',value=u'PUEYRREDON',inplace=True)

In [63]:
noEstan = ~(pd.Series(trips.ESTACION.unique()).isin(estaciones.ESTACION))
pd.Series(trips.ESTACION.unique())[noEstan]

77    TALLER BONIFACIO
dtype: object

In [65]:
trips.merge(estaciones).head()

     ESTACION     DESDE     TOTAL          X          Y    LINEA
0  9 DE JULIO  05:00:00  1.637500 -58.380574 -34.604245  LINEA_D
1  9 DE JULIO  05:15:00  1.813268 -58.380574 -34.604245  LINEA_D
2  9 DE JULIO  05:30:00  2.500000 -58.380574 -34.604245  LINEA_D
3  9 DE JULIO  05:45:00  2.670807 -58.380574 -34.604245  LINEA_D
4  9 DE JULIO  06:00:00  4.107602 -58.380574 -34.604245  LINEA_D